<%= form_for @blog, url: blog_path(@blog), method: :put do |f|%>
<div>
  <%= f.label :Title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :Content %>
  <%= f.text_area :content %>
</div>
<div>
  <%= f.submit %>
</div>
<%end%>
